/* font family  */
@font-face {
    font-family: 'jost';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    src: url('/assets/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}

/* common style  */

body {
    background-color: #e5e5e5;
    font-family:'Archivo';
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* BASE CSS  */

/* HEADER CSS  */

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #93C5FD;
}

.header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding:19px 15px 19px 40px;
} 

.header__left {
    align-items: stretch;
    display: flex;
    gap: 24px;
}

.header__title {
    color: #1E293B;
    font-family: 'Jost';
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-right: 24px;
    text-decoration: none;
}

.header__hamburger {
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #3B82F6;
    border-radius: 138px;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.header__search {
    align-items: center;
    background: #EFF6FF;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;  
}

.header__form-inp {
    background-color: #EFF6FF;
    border: none;
    outline: none;
}

.header__list {
    align-items: center;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header__list-item {
    list-style: none;
}

.header__list-item:last-child > img{
    height:62px;
    width: 62px;    
}

/* MAIN CONTENT CSS  */   

/* sidebar css  */
.content__sidebar {
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 0 40px;
    width: 264px;
}

.content__sidebar-title {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1E293B;
}

.content__sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.content__list-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.content__list-item-badge-1 {
    background: #4ADE80;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Archivo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 4px 10px;
    text-align: center;
}

.content__list-item-badge-2 {
    background: #F472B6;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Archivo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 4px 10px;
    text-align: center;
}

.content__list-item-badge-3 {
    background: #F87171;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Archivo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 4px 10px;
    text-align: center;
}

.content__list-item a >div {
    align-items: center;
    display: flex;
    gap: 10px;
}

.content__list-item > a > div span:nth-child(2) {
    color: #475569;
    font-family: 'Archivo';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.content__list-item-inner > a{
    align-items: center;
    background: #EFF6FF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    padding: 14px 7px;
    text-decoration: none;
}

.content__list-item-inner a > div{
    align-items: center;
    display: flex;
    gap: 10px;
}

.content__inner-list {
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 15px;
}

.content__inner-list-item {
    list-style:disc;
}

.content__inner-list-item-finance {
    background: #EFF6FF;
    border-radius: 4px;
    padding: 5px 5px;
    margin-right: -5px;
    list-style:disc;
}

.content__inner-list-item-finance > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.content__inner-list-item-finance > a >span:nth-child(1) {
    color: #2563EB;
    font-family: 'Archivo';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.content__inner-list-item-finance > a >span:nth-child(2) {
    background: #4ADE80;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Archivo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 4px 10px;
    text-align: center;
}

.content__inner-list-item > a {
    color: #475569;
    font-family: 'Archivo';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

/* table and chart css  */
.content__wrapper {
    width: calc(100% - 264px);
}

.content {
    display: flex;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin:59px 15px 0px 32px;
}

.content__card-list {
    display: flex;
    gap: 32px;
}

.content__card-list-item {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    box-sizing: border-box;
    width: 25%;
}


.content__chart-standards-list {
    display: flex;
    gap: 32px;
}

.content__chart-standards-list-item:nth-child(1) {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    width: 75%;
}

.content__chart-standards-list-item:nth-child(2) {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    width: 25%;
}

.content__product-table-list {
    display: flex;
    gap: 32px;
}

.content__product-table-list-item:nth-child(1) {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 50%;
}

.content__product-table-list-item:nth-child(2) {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 50%;
}

.content__pie-chart-list {
    display: flex;
    gap: 32px;
}

.content__pie-chart-list-item {
    width: 30%;
}

.content__pie-charts-table {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 70%;
}

.content__pie-chart-data-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content__pie-chart-data-list-item {
    background-color: rgb(182, 209, 233);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 100%;
}






